<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="mnstl.css">
    <link  href="/features/style.css">
    <%- include('../features/index') %>
</head>
<body>
    
</body>
</html>
<script src='/features/mobile-navbar.js'>


</script>