<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="register">
        <h1>Register</h1>
        <form id="form_user" enctype="multipart/form-data">
            <input type="file" id="photo_user" accept="image/*" required>
            <input type="text" id="name" placeholder="Name" required>
            <input type="text" id="email" placeholder="Email" required>
            <input type="text" id="phone" placeholder="Phone">
            <input type="text" id="address" placeholder="Address">
            <input type="text" id="cpf" placeholder="CPF" required>
            <input type="date" id="birth" placeholder="Birth" required>
            <input type="password" id="password" placeholder="Insert your Password..." required>
            <input type="password" id="password2" placeholder="Repeat the password..." required>
            <button type="submit">Register</button>
            <a href="/login">Already have account?</a>
        </form>
    </div>
</body>
</html>

<script>
    document.getElementById('form_user').addEventListener('submit', async (e) => {
        e.preventDefault();

        // Cria um FormData para enviar os dados do formulário
        const formData = new FormData();
        formData.append('photo', document.getElementById('photo_user').files[0]);
        formData.append('name', document.getElementById('name').value);
        formData.append('email', document.getElementById('email').value);
        formData.append('phone', document.getElementById('phone').value);
        formData.append('address', document.getElementById('address').value);
        formData.append('cpf', document.getElementById('cpf').value);
        formData.append('birth', document.getElementById('birth').value);
        formData.append('password', document.getElementById('password').value);

        const response = await fetch('/register_user', {
            method: 'POST',
            body: formData
        });

        const data = await response.json();
        if (data.error) {
            alert(data.error);
        } else {
            window.location.href = '/login';
        }
    });
</script>
