<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="register">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <input type="text" id="name" placeholder="Name" required>
            <input type="text" id="email" placeholder="email" required>
            <input type="text" id="phone" placeholder="phone">
            <input type="text" id="address" placeholder="address">
            <input type="text" id="cpf" placeholder="cpf" required>
            <input type="date" id="birth" placeholder="birth" required>
            <input type="password" name="password" placeholder="insert your Password..." required>
            <input type="password" name="password2" placeholder="repeat the password..." required>
            <button type="submit">Register</button>
            <a href="login.ejs">already have account?</a>
        </form>

    </div>
</body>
</html>