
<header>
  <nav>
    <a class="logo" href="">primes vehicle</a>
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-list">
      <li><a href="#">profile</a></li>
      <li><a href="#">messages</a></li>
      <li><a href="#">likes</a></li>
    </ul>
  </nav>
</header>
<link rel="stylesheet" href="style.css">
<script src="mobile-navbar.js">


</script>
