<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #navbar {
        position: sticky;   
        top: 0; 
        z-index: 1000;
      }
</style>
<body>
    <div id="navbar"> <%- include('../../features/index') %></div>
    <div class="container-cars">
        <h1>Carros</h1>
        <button onclick="load_cars()">Atualizar</button>
        <button onclick="window.location.href='/add_car'">Adicionar Carro</button>
        <div id="cars_container"></div>

    </div>
    <div class="container-users">

    </div>
</body>
</html>
<script>
    window.onload = function() {
        load_cars();    
        load_users();
    };
    function load_cars() {
        fetch('/load_cars')
        .then(response => response.json())
        .then(data => {
            const body_cars = document.querySelector('.container-cars');
            body_cars.innerHTML = ''; 

            data.forEach(car => {
                const car_container = document.createElement('div');
                car_container.classList.add('car-item'); 

                car_container.innerHTML = `
                    <div class="car-details">
                        <p>Preço: ${car.price}</p>
                        <p>Ano: ${car.year}</p>
                        <p>Quilometragem: ${car.km_driven} km</p>
                        <p>Marca: ${car.brand}</p>
                        <p>Modelo: ${car.model}</p>
                    </div>

                    <div class="car-image">
                        ${car.images.length > 0 ? `<img src="${car.images[0]}" alt="Imagem do carro ${car.model}" style="width: 200px; height: auto;" />` : '<p>Sem imagem disponível</p>'}
                    </div>

                    <button onclick="load_detail(${car.id})">Ver Detalhes</button>
                    <button onclick="delete_car(${car.id})">Deletar</button>
                    <button onclick="edit_car(${car.id})">Editar</button>
                `;
                body_cars.appendChild(car_container);
            });
        })
        .catch(err => console.error('Error fetching cars:', err));  
    }
</script>