<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #navbar {
        position: sticky;   
        top: 0; 
        z-index: 1000;
      }
</style>
<body>
    <div id="navbar"> <%- include('../features/index') %></div>
    
</body>
</html>